* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F4F1DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

/* Header Section */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #004643;
    border-radius: 10px;
    margin-bottom: 20px;
    animation: slideDown 1s ease-in-out forwards;
    transform: translateY(-100%);
    opacity: 0;
}

@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo{
    color: #F76C5E;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}

.logo img {
    height: 40px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #F76C5E;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: #F4F1DE;
}

.floating-images {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    overflow: hidden;
}

.floating-img {
    position: absolute;
    width: 100px; /* Adjust size as needed */
    animation: floatAnimation 20s ease-in-out infinite;
    opacity: 0.8; /* Make them slightly transparent */
}


.floating-img:nth-child(1) { top: 30%; left: 60%; animation-delay: 2s; }
.floating-img:nth-child(2) { top: 60%; left: 30%; animation-delay: 4s; }


/* Float Animation */
@keyframes floatAnimation {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }
    50% {
        transform: translateY(-30px) translateX(20px) rotate(15deg);
    }
    100% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }
}

.content {
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content h1 {
    font-size: 2rem;
    color:  #004643;
    font-weight: 700;
}

.content p {
    font-size: 1rem;
    color: #004643;
    max-width: 600px;
    margin: 0 auto;
    font-weight: 400;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 320px;
    justify-content: center;
    align-content: center;
    position: relative;
    perspective: 1000px;
    margin: 0 auto;
    transform-style: preserve-3d;
}

.small-img {
    flex-basis: 100px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
    transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 10px;
    transform-origin: center;
    will-change: transform;
}

.small-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.small-img::after, .small-img::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    transition: transform 0.8s;
}

.small-img::after {
    width: 100px;
    height: 30px;
    bottom: -29px;
    left: 7px;
    transform: skewX(26deg);
}

.small-img::before {
    width: 15px;
    height: 100px;
    right: -14px;
    top: 15px;
    transform: skewY(65deg);
}

.small-img:hover {
    transform: scale(1.1) rotateY(20deg);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.1) rotateY(20deg) rotateZ(10deg);
}

.hero:hover .small-img:nth-child(1) {
    transform: translate(60px, 230px) rotate(360deg);
}

.hero:hover .small-img:nth-child(2) {
    transform: translate(-160px, -150px) rotate(360deg);
}

.hero:hover .small-img:nth-child(3) {
    transform: translate(91px, 295px) rotate(360deg);
}

.hero:hover .small-img:nth-child(4) {
    transform: translate(340px, -220px) rotate(360deg);
}

.hero:hover .small-img:nth-child(5) {
    transform: translate(100px, -120px) rotate(360deg);
}

.hero:hover .small-img:nth-child(6) {
    transform: translate(-370px, 320px) rotate(360deg);
}

.hero:hover .small-img:nth-child(7) {
    transform: translate(0px, -480px) rotate(360deg);
}

.hero:hover .small-img:nth-child(8) {
    transform: translate(-280px, -40px) rotate(360deg);
}

.hero:hover .small-img:nth-child(9) {
    transform: translate(-400px, -150px) rotate(360deg);
}

.login-btn-container {
    margin-top: 50px;
}

.login-btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #F4F1DE;
    background-color: #004643;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: 500;
}

.login-btn:hover {
    background-color: #004643;
    transform: scale(1.05);
}

/* Footer Section */
.footer {
    width: 100%;
    background-color: #004643;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    animation: slideUp 1s ease-in-out forwards;
    transform: translateY(100%);
    opacity: 0;
    animation-delay: 1s;
}

@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #F4F1DE;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: #F76C5E;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
    font-weight: 500;
}

.footer-links a:hover {
    color: #F4F1DE;
}

.footer-social a {
    margin-right: 15px;
    font-size: 24px; /* Adjust the size of the icons */
    color: #F76C5E;
    transition: opacity 0.3s, transform 0.3s;
    font-weight: 400;
}

.footer-social img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
}

.footer-social a:hover {
    opacity: 0.8;
    transform: scale(1.1); 
    color: #F4F1DE;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    color: #F76C5E;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .hero {
        width: 200px;
        height: 200px;
    }

    .small-img {
        flex-basis: 60px;
        width: 60px;
        height: 60px;
        will-change: transform;
    }

    .small-img::after {
        width: 60px;
        height: 18px;
        bottom: -18px;
        left: 4px;
    }

    .small-img::before {
        width: 9px;
        height: 60px;
        right: -8px;
        top: 9px;
    }

    .nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .login-btn {
        padding: 8px 16px;
        font-size: 0.875rem;
    }

    .footer-content {
        flex-direction: column;
        gap: 10px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-social {
        margin-top: 10px;
    }

    .floating-img {
        width: 60px; 
    }
}
